<h1>Plataforma de inventarios para equipos médicos utilizando Ruby Sinatra, PostgreSQL y Docker</h1>
<br>
<h2>Esta prueba tiene como objetivo mostrar mis habilidades y conocimientos en el desarrollo de aplicaciones web utilizando Ruby Sinatra, PostgreSQL y Docker,
centrándose en el contexto de una plataforma de inventarios para equipos médicos.</h2>
